= form_for(@address, url: supplier_address_path(@supplier)) do |f|
  - if @address.errors.any?
    #error_explanation
      %h2
        = pluralize(@address.errors.count, "error")
        prohibited this address from being saved:
      %ul
        - @address.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :county
    %br/
    = f.text_field :county
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :street
    %br/
    = f.text_field :street
  .field
    = f.label :number
    %br/
    = f.text_field :number
  .field
    = f.label :block
    %br/
    = f.text_field :block
  .field
    = f.label :apartment
    %br/
    = f.text_field :apartment
  .field
    = f.label :zip_code
    %br/
    = f.text_field :zip_code
  .actions
    = f.submit value: "Save"