%p Email: #{current_user.email}
%p First name: #{@supplier.first_name}
%p Last name: #{@supplier.last_name}
%p Phone: #{@supplier.phone}
%p Mobile phone: #{@supplier.mobile}
%p Fax: #{@supplier.fax}
%p CNP: #{@supplier.cnp}
%p Website: #{@supplier.site}

%p
  =link_to "Edit my profile", edit_supplier_path(@supplier)

%p
  My addresses

- @supplier.addresses.each do |a|
  %p
    County: #{a.county}
    %br
    City: #{a.city}
    %br
    Street: #{a.street}
    %br
    Number: #{a.number}

=link_to "add an address", new_supplier_address_path(@supplier)